<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}">
<head>
    <title>Nacarqeqia</title>
</head>
<body>
    <div layout:fragment="content">
        <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A autem, laudantium libero maxime nihil quidem quod! Delectus dolores ducimus nihil odit quia quidem sapiente sit voluptate. Nihil obcaecati omnis repellendus. </h2>
    </div>
</body>
</html>